<!DOCTYPE html>
<html lang="en">
<head>
    {{>Links}}
    <title>404 Error</title>
</head>
<body>
    <div class="404  d-flex justify-content-center align-items-center" style="height:100vh" >
        <div class="error  d-flex justify-content-center align-items-center flex-column container">
            <h2>{{errMsg}}</h2>
            <img src="5.jpg" class="imgerr">
            <a href="/" class="errorBtn">Go Back</a>
        </div>
    </div>
</body>
</html>