<!DOCTYPE html>
<html lang="en">
<head>
   {{>Links}}
    <title>About Page</title>
</head>
<body>
    {{>Header}}
    <section class="section-header">
        <div class="about-body container">
            <div class="row d-flex justify-content-center align-items-center p-5">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <figure class="img-container">
                       <img src="clipart552601.png" class="img" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <p class=" fs-3">Welcome to Weather App</p>
                    <h2 class="mb-4 aboutBodyHeading ">I am a  <span class="about-weather">Mern Stack Developer</span> , and I am Computer Science Student</h2>
                    <a class="btnn" href="/">About us</a>
                </div>
            </div>
        </div>
    </section>
    {{>Footer}}
</body>
</html>