  <header class="header ">
        <div class="header-container container">
            <div class="col-md-6 ">
                <h2 class="heading p-2 m-0">
                    <i></i>
                    Mr<span class="dot">.</span>Hello
                    <i></i>
                </h2>
            </div>
            <div class="col-md-6 ">
                <ul class="item-list  m-0">
                    <li class="item"><a class="link" href="/">Home</a></li>
                    <li class="item"><a class="link" href="about">About</a></li>
                    <li class="item"><a class="link" href="weather">Weather</a></li>
                </ul>
            </div>
        </div>
    </header>